doctype html
html
  head(lang="ru")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Test Work by Naumov D for Uchi.ru")
    meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    title Naumov D.V. - Text Work Axis-2
    link(rel="stylesheet" href="css/main.css")
  body
    .container
        .jumbotron

    script(src="js/main.js")